/* @theme gaia-ex */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");

h1,
h2,
h3,
h4,
h5,
ul,
li,
section,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1.4;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

section {
  font-family: "Noto Sans", "Roboto", sans-serif;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: #ffffff;
}

h1 {
  font-size: 5.5em;
}

h2 {
  margin: 0.2em 0;
  font-size: 4.6em;
  font-family: "Roboto";
  text-align: center;
}

h3 {
  font-size: 3em;
}

p,
li {
  font-size: 2.2em;
}

section {
  padding: 0 4em;
}

section {
  &.first {
    background-image: url("https://ichef.bbci.co.uk/news/640/cpsprodpb/D8E5/production/_119552555_gettyimages-1234128438.jpg");
    background-size: cover;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }
    h1 {
      position: relative;
      margin-top: 20%;
      font-family: serif;
      text-align: center;
    }
    ul {
      position: relative;
      margin: 0 auto;
      width: max-content;
      list-style: none;
    }
  }

  &.youtube {
    figure {
      text-align: center;
    }
  }
}
