/* @theme gaia-ex */

// @import "gaia";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");

section {
  font-family: "Noto Sans", "Roboto", sans-serif;
  background-image: linear-gradient(
    109.6deg,
    rgba(62, 161, 219, 1) 11.2%,
    rgba(93, 52, 236, 1) 100.2%
  );
  color: #ffffff;
}
